#home{
	
	.home-top-right{
		height: 400px;
	}
	
	.home-top-right > .slider{
		height: 100%;
	}
	
	.top-slider{
		
		& > .imgs{
			margin-left: 30px;
			
			& > .view{
				position: relative;
				background-color: #fff;
				border: solid 1px $color-ramka-szara;
				overflow: hidden;
				
				& > .item{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					
					& > .box{
						position: absolute;
						padding: 0 0 76px 40px;
						left: 0;
						bottom: 0;
						
						& > .title{
							margin-bottom: 18px;
							font-size: 29px;
							
						}
						
						& > .content{
							margin-bottom: 36px;
							font-size: 15px;
							
						}
						
						& > .link{
							
							& > .button{
								position: relative;
								height: 40px;
								padding: 0 24px;
								border-radius: 20px;
								box-shadow: 2px 2px 10px -2px #000;
								
								& > .text{
									font-size: 10px;
									
								}
								
								& > .hitbox{
									position: absolute;
									top: 0;
									left: 0;
									right: 0;
									bottom: 0;
									
								}
								
							}
							
						}
						
					}
					
				}
				
			}
			
			& > .pagin{
				padding: 0;
				top: initial;
				left: 50%;
				bottom: 20px;
				
				& > .item{
					padding: 1px;
					width: 16px;
					height: 16px;
					border: solid 2px transparentize( $color-menu-active, .3 );
					background-color: #fff;
					border-radius: 50%;
					transition-property: border, padding;
					transition: .3s linear;
					
					&.active{
						padding: 0;
						border: solid 3px $color-menu-active;
						
					}
					
				}
				
			}
			
		}
		
	}
	
	.main-picture-powerbank,
	.main-picture-odziezreklamowa{
		position: relative;
		
		& > .over{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 10;
			
		}
		
	}
	
	.kafelki{
		
		& > .big{
			height: 400px;
			margin-bottom: 30px;
			
			& > .item{
				background-color: silver;
				
			}
			
			@media(min-width: map-get( $bpw, desktop )){
				margin-bottom: 0;
				margin-right: 30px;
				
			}
			
		}
		
		& > .small{
			
			& > .item{
				min-height: 200px;
				background-color: silver;
				
				& > .box{
					padding: 0 20px;
					
					& > .title{
						font-size: 17px;
						margin-bottom: 36px;
						
					}
					
					& > .link{
						padding: 10px 7px;
						max-width: 200px;
						border: solid 1px #fff;
						
					}
					
				}
				
				&.odziez{
					background-image: url(../img/odziez_reklamowa_merkuriusz.jpg);
					
				}
				
				&.powerbank{
					background-image: url(../img/power_bank_merkuriusz.jpg);
					
				}
				
				&:first-child{
					margin-bottom: 30px;
					
					@media(min-width: map-get( $bpw, tablet )){
						margin-right: 30px;
						margin-bottom: 0;
						
					}
					
					@media(min-width: map-get( $bpw, desktop )){
						margin-right: 0;
						margin-bottom: 30px;
						
					}
					
				}
				
				@media(min-width:map-get( $bpw, desktop )){
					min-height: initial;
					
				}
				
			}
			
		}
		
		#menu{
			
			.item{
				background-color: transparent;
				
			}
			
		}
		
	}
	
}
