.kalendarze{
	position: relative;
	margin-top: 30px;
	padding: 18px;
	height: 170px;
	background-color: silver;
	background-image: url(../img/kalendarze.jpg);
	
	& > .box{
		position: relative;
		border: solid 1px $color-ramka-szara;
		
		& > .hint{
			position: absolute;
			top: 8px;
			left: 14px;
			@extend .bg-pink;
			color: #fff;
			
			&::before{
				
			}
			
		}
		
	}
	
	.hitbox{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		
	}
	
}

#kalendarze
{
	
	& > .kafelki{
		max-width: 1170px;
		
		& > .item{
			margin-top: 20px;
			
			& > .box{
				margin: 15px;
				padding: 47px 0;
				border: solid 1px map-get( $generator, gray6 );
				transition-property: background, font;
				
				& > img{
					display: block;
					margin: auto;
					padding: 0 10px;
					max-width: 100%;
					
				}
				
				& > .title{
					margin: 10px 0;
					padding: 20px;
					font-size: 14px;
					font-family: 'Montserrat-SemiBold';
					
				}
				
				&:hover{
					background-color: map-get( $generator, blue3 );
					color: #fff;
					
				}
				
			}
			
		}
		
	}
	
	.content{
		
		a{
			display: inline-block;
			margin: 0 15px  30px;
			height: 250px;
			
			&, & *{
				cursor: pointer;
				
			}
			
			& > img{
				height: 100%;
				width: auto;
				
			}
			
		}
		
	}
	
}