.kalendarze{
	margin-top: 30px;
	padding: 18px;
	height: 170px;
	background-color: silver;
	background-image: url('https://placeimg.com/500/200/tech');
	
	& > .box{
		position: relative;
		border: solid 1px $color-ramka-szara;
		
		& > .hint{
			position: absolute;
			top: 8px;
			left: 14px;
			@extend .bg-pink;
			color: #fff;
			
			&::before{
				
			}
			
		}
		
	}
	
}