.popup.katalog{
	position: fixed;
	margin: initial;
	padding: initial;
	max-width: initial;
	width: initial;
	height: initial;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
	transform: none;
	border: none;
	z-index: 20;
	
	& > .box{
		position: relative;
		padding: 60px;
		
		& > .close-fp{
			position: absolute;
			width: 40px;
			height: 40px;
			top: 0;
			right: 0;
			
		}
		
		& > .viewbox{
			
			& > .view{
				
				& > .top{
					margin-bottom: 50px;
					font-size: 18px;
					
				}
				
				& > .mid{
					
					& > .pic{
						
						& > .img{
							padding-right: 40px;
							
							& > img{
								width: 100%;
							}
							
						}
						
						& > .text{
							margin-top: 26px;
							font-size: 12px;
							
						}
						
					}
					
					& > .items{
						
						& > .item{
							position: relative;
							padding: 15px 12px;
							
							& > .link{
								height: 50px;
								border: solid 1px $color-szary3;
								font-size: 14px;
								
								
							}
							
							.hitbox{
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								
							}
							
						}
						
					}
					
				}
				
				&.odziez{
					
				}
				
			}
			
		}
		
	}
	
	&:not(.open){
		display: none;
		
	}
	
}

.catalog-slider{
	border: none;
	
	& > .section-title{
		padding: 0;
		margin-top: 40px;
		margin-bottom: 30px;
		height: 50px;
		border: double $color-szary3;
		border-width: 4px 0;
		font-size: 17px;
		
		&::before,
		&::after{
			content: none;
			
		}
		
	}
	
	& > .catalog-slider-wrapper{
		
		& > .catalog-arrow-box{
			width: 40px;
			height: 40px;
			background-color: #fff;
			border-radius: 50%;
			z-index: 1;
			
			& > .fa{
				
			}
			
		}
		
		& > .catalog-container{
			margin: 0;
			
			& > .catalog-element{
				
				& > .catalog{
					position: relative;
					box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.12);
					
					& > .catalog-cover{
						position: absolute;
						padding: 10px;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background-color: rgba(0,0,0,.7);
						
						& > .cat-cover-text{
							border: solid 2px #ebebeb;
							
						}
						
					}
					
				}
				
				& > .catalog_signature{
					margin-top: 27px;
					background-color: transparent;
					@extend .bold;
					@extend .font-dark;
					font-size: 14px;
					
				}
				
			}
			
		}
		
	}
	
}