// PALETA
$color-reklamowe: #2a96f8;
$color-pluszaki: #af0c83;
$color-elektronika: #0b33af;
$color-vip: #2b2b2b;
$color-vip-elektronika: #0baf96;
$color-vip-pismiennicze: #2b2b2b;
$color-vip-victorinox: #b00b1b;

$color-ramka-szara: #e7e7e7;
$color-menu-hover: #2A96F8;
$color-pagin-niebieski: rgb(38,155,255);
$color-pagin-szary: #D3D3D3;
$color-menu-active: #0af;
$color-single-title: #2a96f8;
$color-popup-bg: rgba(0,0,0,0.8);
$color-szary-jasny: #f7f7f7;
$color-szary-ciemny: #b0b0b0;
$color-szary2: #919191;
$color-szary3: #ebebeb;
$color-inactive: #6a6a6a;

$generator:(
	light: #fff,
	dark: #212121,
	blue: #2b97fa,
	blue2: #0af,
	gray: #e7e7e7,
	gray2: #ebebeb,
	gray3: #f8f8f8,
	gray4: #c6c6c6,
	gray5: #666666,
	pink: #fb2c4a,
	green: #6de021,
	green-light: #84e641,
	brown: #4c1012
	
);

@each $name, $value in $generator{
	.font-#{$name}{
		color: $value;
		
	}
	
	.bg-#{$name}{
		background-color: $value;
		
	}
	
}
