.reklama360{
	margin-top: 50px;
	margin-bottom: 50px;
	
	& > .header{
		height: 50px;
		border: double $color-szary3;
		border-width: 4px 0;
		font-size: 17px;
		
	}
	
	& > .body{
		
		& > .item{
			margin-top: 30px;
			min-height: 200px;
			
			& > .box{
				position: relative;
				padding: 20px 30px;
				background-color: silver;
				
				& > .over{
					position: absolute;
					padding: 10px;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-color:rgba(0,0,0,0.5);
					color: #fff;
					
					& > .content{
						margin-top: 40px;
						padding: 10px 10px;
						border: dashed 3px $color-szary3;
						line-height: 20px;
						font-size: 14px;
						
					}
					
					@media(min-width:map-get( $bpw, tablet )){
						padding: 20px 30px;
						
					}
					
				}
				
				& > .hint{
					position: absolute;
					top: 0;
					left: 0;
					color: #fff;
					transform: translate(30px,20px);
					
				}
				
				& > .hitbox{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					
				}
				
			}
			
			&.identyfikacja > .box{
				background-image: url(../img/identyfikacja.jpg);
				
			}
			
			&.wizualna > .box{
				background-image: url(../img/wizualna.jpg);
				
			}
			
			&.techniki > .box{
				background-image: url(../img/techniki.jpg);
				
			}
			
			&.gadzety > .box{
				background-image: url(../img/gadzety.jpg);
				
			}
			
			&:not(:hover){
				
				& > .box > .over{
					display: none;
					
				}
				
			}
			
			@media(min-width: map-get( $bpw, tablet )){
				
				&:nth-child(odd){
					padding-right: 17px;
					
				}
				
				&:nth-child(even){
					padding-left: 17px;
					
				}
				
			}
			
		}
		
	}
	
}