$bpw:(
	smartfon: 0px,
	tablet: 768px,
	desktop: 1024px,
	large: 1440px
	
);

body{
	@extend .regular;
	
	& > .about_us_cover{
		margin-top: 50px;
		
	}
	
	& > #map{
		margin-top: 50px;
		
	}
	
}

a{
	display: inline-block;
	
	&, &:hover, &:focus{
		text-decoration: none;
		color: inherit;
		outline: none;
		
	}
	
}

.regular{
	font-family: roboto-regular;
	
}

.bold{
	font-family: poppins-bold;
	
	&.alt{
		font-family: roboto-bold;
		
	}
	
}

.semibold{
	font-family: poppins-semibold;
	
	&.alt{
		font-family: roboto-semibold;
		
	}
	
}

.pointer{
	&,& *{
		cursor: pointer;
		
	}
	
}

.grid{
	max-width: 1220px;
	padding: 0 20px;
	
}

.hint{
	padding: 13px;
	margin-left: 8px;
	height: 26px;
	border-radius: 6px;
	font-size: 13px;
	line-height: 0;
	
	&::before{
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 12px;
		height: 12px;
		transform: translate(-5px,-50%) rotate(45deg);
		background-color: inherit;
		
	}
	
}

$bg:(
	( cover, size, cover ), 
	( contain, size, contain ), 
	( center, position, center ), 
	( top, position-y, top ), 
	( bottom, position-y, bottom ), 
	( left, position-x, left ), 
	( right, position-x, right ), 
	( norepeat, repeat, no-repeat ),
	( repeat-x, repeat, repeat-x ), 
	( repeat-y, repeat, repeat-y ), 
	( repeat, repeat, repeat )
);

@each $name, $property, $value in $bg
{
	
	.bg-#{$name}{
		background-#{$property}: $value;
		
	}
	
}

h2{
	@extend .bold;
	
	& > .about-us-one{
		@extend .regular;
		font-size: 16px;
		
	}
	
}

.about-content-box{
	@extend .regular;
	
	& > h2{
		font-size: 22px;
		
	}
	
}

.container-fluid.single-page{
	
	.promo-kal{
		
		& > a{
			display: block;
			padding-bottom: 15.3%;
			
		}
		
	}
	
}

