$bpw:(
	smartfon: 0px,
	tablet: 768px,
	desktop: 1024px,
	large: 1440px
	
);

a{
	display: inline-block;
	
	&, &:hover, &:focus{
		text-decoration: none;
		color: inherit;
		outline: none;
		
	}
	
}

.regular{
	font-family: 'Montserrat-Regular';
	
	&.alt{
		font-family: 'metropolis-regular';
		
	}
	
}

.medium{
	font-family: 'Montserrat-Medium';
	
	&.alt{
		font-family: 'metropolis-medium';
		
	}
	
}

.semibold{
	font-family: 'Montserrat-SemiBold';
	
	&.alt{
		font-family: 'metropolis-semibold';
		
	}
	
}

.bold{
	font-family: 'Montserrat-Bold';
	
	&.alt{
		font-family: 'metropolis-bold';
		
	}
	
}

.title{
	font-size: 12px;
	
}

.pointer{
	&,& *{
		cursor: pointer;
		
	}
	
}

.grid{
	max-width: 1220px;
	padding: 0 20px;
	
}

.hint{
	padding: 13px;
	margin-left: 8px;
	height: 26px;
	border-radius: 6px;
	line-height: 0;
	
	&::before{
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 12px;
		height: 12px;
		transform: translate(-5px,-50%) rotate(45deg);
		background-color: inherit;
		
	}
	
}

@each $name, $property, $value in ( cover, size, cover ), 
													( contain, size, contain ), 
													( center, position, center ), 
													( top, position-y, top ), 
													( bottom, position-y, bottom ), 
													( left, position-x, left ), 
													( right, position-x, right ), 
													( no-repeat, repeat, none ),
													( repeat-x, repeat, repeat-x ), 
													( repeat-y, repeat, repeat-y ), 
													( repeat, repeat, repeat )
{
	
	.bg-#{$name}{
		background-#{$property}: $value;
		
	}
	
}

@keyframes menu{
	from{
		background-position-y: 0%;
		
	}
	to{
		background-position-y: 200%;
		
	}
	
}

ul.menu .head.animate{
	background-size: auto 200%;
	animation: menu 2s infinite linear paused;
	
	&:hover{
		animation-play-state: running;
		
	}
	
}