#sidebar{
	margin-right: 20px;
	min-width: 210px;
	
	& > .sidebar-navigation{
		margin: 0;
		
	}
	
	ul.menu{
		border: solid 5px $color-szary3;
		
		& > .title{
			margin: 0 30px;
			margin-bottom: 4px;
			height: 46px;
			border-bottom: double 4px $color-szary3;
			font-size: 14px;
			
			&.active{
				color: $color-menu-active;
				
			}
			
		}
		
		.item{
			position: relative;
			background-color: #fff;
			
			& > .pikto{
				margin-right: 10px;
				
			}
			
			& > .head{
				padding-left: 30px;
				padding-right: 30px;
				min-height: 60px;
				
				& > .pikto{
					margin-right: 10px;
					
				}
				
				& > .title{
					margin-right: auto;
					padding-right: 10px;
					font-size: 12.5px;
					
				}
				
				& > .logotyp{
					margin: 5px 10px 5px 0;
					background-position: left;
					
				}
				
			}
			
			.sub{
				padding-left: 5px;
				color: #000;
				background-color: silver;
				border: solid $color-szary3;
				border-width: 0 1px 1px 1px;
				
				& > .item{
					border-top: solid 1px $color-szary3;
					/* background-clip: content-box; */
					transition: background .3s linear;
					
					&:hover{
						/* padding-left: 10px; */
						margin-left: 10px;
						
						& > .head{
							padding-left: 20px;
							
						}
						
					}
					
					& > .head{
						min-height: 40px;
						
					}
					
				}
				
			}
			
			& > .icon{
				transition: transform .3s linear;
				
			}
			
			&.open > .head > .icon{
				transform: rotate(90deg);
				
			}
			
			
		}
		
		& > .item{
			position: relative;
			
			& > .head{
				
				& > .title{
					font-size: 14px;
					
				}
				
			}
			
			& > .sub{
				padding-left: 0;
				border-left: none;
				
				.item{
					
					& > .sub{
						white-space: nowrap;
						
					}
						
					@media(min-width: 992px){
						& > .sub{
							position: absolute;
							top: 0;
							left: 100%;
							z-index: 20;
							
						}
						
					}
					
					&:not(:hover) > .sub{
						display: none;
						
					}
					
				}
				
				& > .item{
					
					&:hover{
						/* padding-left: 0; */
						margin-left: 0;
						
						@media(min-width:map-get( $bpw, desktop )){
							/* padding-left: 10px; */
							margin-left: 10px;
							
						}
						
					}
					
				}
				
			}
			
			&.reklamowe{
				
				.sub{
					background-color: $color-reklamowe;
				}
				
				&:hover, &.open{
					
					&::before,
					&::after{
						background-color: $color-reklamowe;
						
					}
					
				}
				
			}
			
			&.pluszaki{
				
				.sub{
					background-color: $color-pluszaki;
				}
				
				&:hover, &.open{
					
					&::before,
					&::after{
						background-color: $color-pluszaki;
						
					}
					
				}
				
			}
			
			&.elektronika{
				
				.sub{
					background-color: $color-elektronika;
				}
				
				&:hover, &.open{
					
					&::before,
					&::after{
						background-color: $color-elektronika;
						
					}
					
				}
				
			}
			
			&.vip{
				
				.sub{
					background-color: $color-vip;
				}
				
				&:hover, &.open{
					
					&::before,
					&::after{
						background-color: $color-vip;
						
					}
					
				}
				
			}
			
			&.vip_elektronika{
				
				.sub{
					background-color: $color-vip-elektronika;
				}
				
				&:hover, &.open{
					
					&::before,
					&::after{
						background-color: $color-vip-elektronika;
						
					}
					
				}
				
			}
			
			&.vip_pismiennicze{
				
				.sub{
					background-color: $color-vip-pismiennicze;
				}
				
				&:hover, &.open{
					
					&::before,
					&::after{
						background-color: $color-vip-pismiennicze;
						
					}
					
				}
				
			}
			
			&.vip_victorinox{
				
				.sub{
					background-color: $color-vip-victorinox;
				}
				
				&:hover, &.open{
					
					&::before,
					&::after{
						background-color: $color-vip-victorinox;
						
					}
					
				}
				
			}
			
			&.active{
				
				& > .sub{
					
					.item.active > .head > .title{
						color: $color-menu-active;
						
					}
					
				}
				
			}
			
			&:not(:last-child){
				
				& > .head{
					position: relative;
					
					&::after{
						content: '';
						position: absolute;
						padding: 0 30px;
						height: 1px;
						bottom: 0;
						left: 0;
						right: 0;
						background-color: $color-szary3;
						background-clip: content-box;
						
					}
					
				}
				
			}
			
			&::before,
			&::after{
				content: '';
				position: absolute;
				padding: 10px 0;
				width: 5px;
				top: 0;
				bottom: 0;
				background-clip: content-box;
				
			}
			
			&::before{
				right: 100%;
				
			}
			
			&::after{
				left: 100%;
				
			}
			
		}
		
		& > .item:not(.open) > .sub{
			display: none;
		}
		
		& *{
			cursor: pointer;
			
		}
		
	}
	
}