#topbar{
	border-bottom: solid 1px $color-ramka-szara;
	
	& > .box{
		padding-top: 7px;
		padding-bottom: 7px;
		font-size: 13px;
		
		& > .cell{
			padding: 0 30px;
			height: 50px;
			border: solid $color-ramka-szara;
			border-width: 0 1px;
			
			.gray{
				padding-right: 10px;
				color: $color-szary-ciemny;
				
			}
			
			&:last-child{
				border-right: solid 1px $color-ramka-szara;
				
			}
			
			@media(min-width:map-get( $bpw, tablet )){
				border-width: 0 0 0 1px;
				
			}
			
		}
		
	}
	
}