#top{
	height: 90px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 30px;
	
	& > .logo{
		margin: 0 15px;
		
		& > a{
			width: 250px;
			background-image: url(../img/logo_merkuriusz.png);
			
		}
		
	}
	
	& > .searchbar{
		margin: 0 15px;
		max-width: 630px;
		@extend .regular;
		font-size: 14px;
		
		& > .input{
			padding: 0 20px;
			border: solid 1px $color-ramka-szara;
			background-color: $color-szary-jasny;
			color: $color-szary2;
			
			&::placeholder{
				color: inherit;
				
			}
			
		}
		
		& > .button{
			padding: 0 30px;
			border: none;
			background-color: $color-menu-active;
			color: #fff;
			
		}
		
	}
	
	#basket{
		padding: 0 16px;
		background-color: $color-menu-active;
		color: #fff;
		
		& > .basket-text{
			padding: 0;
			font-size: 12px;
			
		}
		
		& > .icon{
			margin-left: 26px;
			
		}
		
	}
	
}