a {
  display: inline-block; }
  a, a:hover, a:focus {
    text-decoration: none;
    color: inherit;
    outline: none; }

.semibold {
  font-family: 'Montserrat-SemiBold'; }

.bold {
  font-family: 'Montserrat-Bold'; }

.title {
  font-size: 14px; }

ul.menu {
  border-style: solid;
  border-width: 1px;
  border-color: #e7e7e7; }
  ul.menu > .item.active.reklamowe > .head {
    box-shadow: 0 0 0 2px #0af inset; }
  ul.menu > .item.active > .sub > .item.active > .head > .title {
    color: #0af; }
  ul.menu .item {
    position: relative;
    background-color: #fff; }
    ul.menu .item > .pikto {
      margin-right: 10px; }
    ul.menu .item > .head {
      padding-left: 20px;
      padding-right: 20px;
      min-height: 60px; }
      ul.menu .item > .head > .pikto {
        margin-right: 10px; }
      ul.menu .item > .head > .title {
        margin-right: auto; }
      ul.menu .item > .head > .logotyp {
        margin: 5px 10px 5px 0;
        background-position: left; }
    ul.menu .item .sub {
      padding-left: 10px;
      color: #000; }
      ul.menu .item .sub > .item {
        border-top: solid 1px #e7e7e7; }
        ul.menu .item .sub > .item:hover {
          margin-left: 10px; }
          ul.menu .item .sub > .item:hover > .head {
            padding-left: 10px; }
        ul.menu .item .sub > .item > .head {
          min-height: 40px; }
    ul.menu .item > .icon {
      transition: transform .3s linear; }
    ul.menu .item:not(.open) > .sub {
      display: none; }
    ul.menu .item.open > .head > .icon {
      transform: rotate(90deg); }
    ul.menu .item.fofcio {
      color: #fff;
      background-color: #D10990; }
    ul.menu .item.axpol {
      color: #fff;
      background-color: #83C23F; }
    ul.menu .item.elektronika {
      color: #fff;
      background-color: #1f9DF1; }
    ul.menu .item.vip {
      color: #fff;
      background-color: #1d1d1d; }
  ul.menu * {
    cursor: pointer; }

#home .home-top-right {
  height: 400px; }
#home .home-top-right > .slider {
  height: 100%; }
#home .top-slider {
  margin-bottom: 30px;
  padding: 0 15px;
  min-height: 430px; }
  #home .top-slider > .text {
    background-color: #fff;
    border: solid 1px #e7e7e7;
    overflow: hidden; }
    #home .top-slider > .text a {
      text-decoration: none;
      color: initial; }
    #home .top-slider > .text > .view > .item {
      padding: 30px 40px; }
      #home .top-slider > .text > .view > .item:not(.active) {
        display: none; }
      #home .top-slider > .text > .view > .item > .title {
        margin-bottom: 24px;
        font-size: 18px; }
      #home .top-slider > .text > .view > .item > .content {
        margin-bottom: 24px;
        line-height: 1.5em;
        font-size: 14px; }
      #home .top-slider > .text > .view > .item > .button {
        margin-top: auto;
        min-width: 130px;
        padding: 15px 20px;
        border: solid 2px #000;
        line-height: 0;
        font-size: 12px;
        text-align: center; }
    #home .top-slider > .text > .pagin {
      padding: 0 0 30px 40px; }
      #home .top-slider > .text > .pagin > .item {
        margin-right: 4px;
        width: 18px;
        height: 18px;
        background-color: #269bff;
        border-style: solid;
        border-width: 3px;
        border-color: #fff;
        border-radius: 50%;
        transition-property: background, border;
        transition: .3s linear; }
        #home .top-slider > .text > .pagin > .item.active {
          border-color: #269bff;
          background-color: #fff; }
  #home .top-slider > .imgs {
    margin-left: 30px; }
    #home .top-slider > .imgs > .view {
      background-color: #fff;
      border: solid 1px #e7e7e7;
      overflow: hidden; }
      #home .top-slider > .imgs > .view > .item:not(.active) {
        display: none; }

#grid {
  background-color: #fff; }
  #grid .switcher {
    min-height: 60px; }
    #grid .switcher > a {
      margin-left: 10px;
      width: 34px;
      height: 34px;
      color: #000;
      background-color: #D3D3D3;
      transition-property: color, background;
      transition: .3s linear; }
      #grid .switcher > a.active, #grid .switcher > a:hover {
        color: #fff;
        background-color: #269bff; }
  #grid > .top {
    margin-bottom: 30px;
    padding: 0 20px;
    border: solid 1px #e7e7e7; }
    #grid > .top > .breadc {
      min-height: 60px; }
  #grid > .kafelki {
    margin: 0 -10px 30px; }
    #grid > .kafelki > .item > .wrapper {
      margin: 10px;
      border: solid 1px #e7e7e7; }
      #grid > .kafelki > .item > .wrapper > .img {
        position: relative;
        padding: 10px;
        height: 150px;
        background-clip: content-box;
        background-origin: content-box;
        border-bottom: solid 1px #e7e7e7; }
        #grid > .kafelki > .item > .wrapper > .img > a {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
      #grid > .kafelki > .item > .wrapper > .title {
        padding: 10px;
        border-bottom: solid 1px #e7e7e7; }
      #grid > .kafelki > .item > .wrapper > .code {
        padding: 10px; }
  #grid > .pagin {
    margin-bottom: 30px;
    height: 60px;
    border: solid 1px #e7e7e7; }
    #grid > .pagin > .next, #grid > .pagin > .prev {
      height: 100%; }
      #grid > .pagin > .next > a, #grid > .pagin > .prev > a {
        height: 100%;
        background-color: #fff;
        transition: background .3s linear; }
        #grid > .pagin > .next > a:hover, #grid > .pagin > .prev > a:hover {
          background-color: #e7e7e7; }
  #grid > .bot {
    margin-bottom: 30px;
    padding: 0 20px;
    border: solid 1px #e7e7e7; }
    #grid > .bot > .num {
      min-height: 60px; }

#single #grid > .mid {
  margin: 0 -6px 30px; }
  #single #grid > .mid > .pic {
    padding: 0 6px; }
    #single #grid > .mid > .pic > .large {
      position: relative;
      padding: 5px;
      height: 320px;
      background-clip: content-box;
      border: solid 1px #e7e7e7; }
      #single #grid > .mid > .pic > .large > .icon {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 20px;
        text-shadow: 0 0 3px #fff; }
    #single #grid > .mid > .pic > .mini {
      overflow: hidden;
      border: solid 1px #e7e7e7; }
      #single #grid > .mid > .pic > .mini > .item {
        padding: 5px;
        height: 100px;
        background-clip: content-box;
        background-image: url(https://placeimg.com/100/100/tech); }
    #single #grid > .mid > .pic > .download {
      margin-top: 12px; }
      #single #grid > .mid > .pic > .download > a {
        padding: 0 30px;
        height: 40px;
        border: solid 1px #e7e7e7; }
        #single #grid > .mid > .pic > .download > a > .bold {
          margin-left: 10px;
          cursor: inherit; }
  #single #grid > .mid > .dane {
    padding: 0 6px; }
    #single #grid > .mid > .dane .title {
      height: 40px;
      background-color: #2a96f8;
      padding: 0 30px;
      color: #fff; }
    #single #grid > .mid > .dane .box {
      padding: 15px 30px;
      border: solid 1px #e7e7e7; }
      #single #grid > .mid > .dane .box > .line {
        margin: 10px 0; }
        #single #grid > .mid > .dane .box > .line > .key {
          padding-right: 10px; }
        #single #grid > .mid > .dane .box > .line.desc > .key {
          padding-bottom: 10px; }
        #single #grid > .mid > .dane .box > .line.method > .val {
          position: relative; }
          #single #grid > .mid > .dane .box > .line.method > .val > .icon {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%); }
    #single #grid > .mid > .dane > .seg {
      margin-bottom: 12px; }
    #single #grid > .mid > .dane > .main > .box {
      padding: 5px 30px; }
    #single #grid > .mid > .dane > .marking > .box {
      padding: 0;
      border: none; }
      #single #grid > .mid > .dane > .marking > .box .key, #single #grid > .mid > .dane > .marking > .box .val {
        padding: 0 30px;
        height: 40px;
        border: solid 1px #e7e7e7; }
      #single #grid > .mid > .dane > .marking > .box > .line {
        margin: 0; }
