@charset "UTF-8";
a {
  display: inline-block;
}
a, a:hover, a:focus {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.regular, #top > .searchbar {
  font-family: 'Montserrat-Regular';
}

.semibold {
  font-family: 'Montserrat-SemiBold';
}

.bold {
  font-family: 'Montserrat-Bold';
}

.title {
  font-size: 14px;
}

ul.menu {
  border-style: solid;
  border-width: 1px;
  border-color: #e7e7e7;
}
ul.menu > .item > .sub .item > .sub {
  white-space: nowrap;
}
@media (min-width: 992px) {
  ul.menu > .item > .sub .item > .sub {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
  }
}
ul.menu > .item > .sub .item:not(:hover) > .sub {
  display: none;
}
ul.menu > .item.active.reklamowe > .head {
  -webkit-box-shadow: 0 0 0 2px #0af inset;
          box-shadow: 0 0 0 2px #0af inset;
}
ul.menu > .item.active > .sub .item.active > .head > .title {
  color: #0af;
}
ul.menu > .item:not(.open) > .sub {
  display: none;
}
ul.menu .item {
  position: relative;
  background-color: #fff;
}
ul.menu .item > .pikto {
  margin-right: 10px;
}
ul.menu .item > .head {
  padding-left: 20px;
  padding-right: 20px;
  min-height: 60px;
}
ul.menu .item > .head > .pikto {
  margin-right: 10px;
}
ul.menu .item > .head > .title {
  margin-right: auto;
  padding-right: 10px;
}
ul.menu .item > .head > .logotyp {
  margin: 5px 10px 5px 0;
  min-width: 180px;
  background-position: left;
}
ul.menu .item .sub {
  padding-left: 10px;
  color: #000;
  background-color: silver;
}
ul.menu .item .sub > .item {
  border-top: solid 1px #e7e7e7;
  background-clip: content-box;
}
ul.menu .item .sub > .item:hover {
  padding-left: 10px;
}
ul.menu .item .sub > .item:hover > .head {
  padding-left: 10px;
}
ul.menu .item .sub > .item > .head {
  min-height: 40px;
}
ul.menu .item > .icon {
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}
ul.menu .item.open > .head > .icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
ul.menu .item.fofcio {
  color: #fff;
  background-color: #D10990;
}
ul.menu .item.fofcio .sub {
  background-color: #D10990;
}
ul.menu .item.elektronika {
  color: #fff;
  background-color: #1f9DF1;
}
ul.menu .item.elektronika .sub {
  background-color: #1f9DF1;
}
ul.menu .item.vip {
  color: #fff;
  background-color: #1d1d1d;
}
ul.menu .item.vip .sub {
  background-color: #1d1d1d;
}
ul.menu .item.vip_elektronika {
  color: #fff;
  background-color: #c2850a;
}
ul.menu .item.vip_elektronika .sub {
  background-color: #c2850a;
}
ul.menu .item.vip_victorinox {
  color: #fff;
  background-color: #e40b0e;
}
ul.menu .item.vip_victorinox .sub {
  background-color: #e40b0e;
}
ul.menu * {
  cursor: pointer;
}

.pointer, .pointer * {
  cursor: pointer;
}

.grid {
  max-width: 1220px;
  padding: 0 20px;
}

#grid {
  background-color: #fff;
}
#grid .switcher {
  min-height: 60px;
}
#grid .switcher > a {
  margin-left: 10px;
  width: 34px;
  height: 34px;
  color: #000;
  background-color: #D3D3D3;
  -webkit-transition-property: color, background;
  transition-property: color, background;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
#grid .switcher > a.active, #grid .switcher > a:hover {
  color: #fff;
  background-color: #269bff;
}
#grid > .top {
  margin-bottom: 30px;
  padding: 0 20px;
  border: solid 1px #e7e7e7;
}
#grid > .top > .breadc {
  min-height: 60px;
}
#grid > .kafelki {
  margin: 0 -10px 30px;
}
#grid > .kafelki > .noitems {
  padding: 0 20px;
}
#grid > .kafelki > .item > .wrapper {
  margin: 10px;
  border: solid 1px #e7e7e7;
}
#grid > .kafelki > .item > .wrapper > .img {
  position: relative;
  padding: 10px;
  height: 150px;
  background-clip: content-box;
  background-origin: content-box;
  border-bottom: solid 1px #e7e7e7;
}
#grid > .kafelki > .item > .wrapper > .img > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#grid > .kafelki > .item > .wrapper > .title {
  padding: 10px;
  border-bottom: solid 1px #e7e7e7;
}
#grid > .kafelki > .item > .wrapper > .code {
  padding: 10px;
}
#grid > .pagin {
  margin-bottom: 30px;
}
#grid > .pagin > .next, #grid > .pagin > .prev {
  height: 60px;
  border: solid 1px #e7e7e7;
}
#grid > .pagin > .next > a, #grid > .pagin > .prev > a {
  height: 100%;
  background-color: #fff;
  -webkit-transition: background .3s linear;
  transition: background .3s linear;
}
#grid > .pagin > .next > a:hover, #grid > .pagin > .prev > a:hover {
  background-color: #e7e7e7;
}
#grid > .bot {
  margin-bottom: 30px;
  padding: 0 20px;
  border: solid 1px #e7e7e7;
}
#grid > .bot > .num {
  min-height: 60px;
}

#home .home-top-right {
  height: 400px;
}
#home .home-top-right > .slider {
  height: 100%;
}
#home .top-slider {
  margin-bottom: 30px;
  padding: 0 15px;
  min-height: 430px;
}
#home .top-slider > .text {
  background-color: #fff;
  border: solid 1px #e7e7e7;
  overflow: hidden;
}
#home .top-slider > .text a {
  text-decoration: none;
  color: initial;
}
#home .top-slider > .text > .view > .item {
  padding: 30px 40px;
}
#home .top-slider > .text > .view > .item:not(.active) {
  display: none;
}
#home .top-slider > .text > .view > .item > .title {
  margin-bottom: 24px;
  font-size: 18px;
}
#home .top-slider > .text > .view > .item > .content {
  margin-bottom: 24px;
  line-height: 1.5em;
  font-size: 14px;
}
#home .top-slider > .text > .view > .item > .button {
  margin-top: auto;
  min-width: 130px;
  padding: 15px 20px;
  border: solid 2px #000;
  line-height: 0;
  font-size: 12px;
  text-align: center;
}
#home .top-slider > .text > .pagin {
  padding: 0 0 30px 40px;
}
#home .top-slider > .text > .pagin > .item {
  margin-right: 4px;
  width: 18px;
  height: 18px;
  background-color: #269bff;
  border-style: solid;
  border-width: 3px;
  border-color: #fff;
  border-radius: 50%;
  -webkit-transition-property: background, border;
  transition-property: background, border;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
#home .top-slider > .text > .pagin > .item.active {
  border-color: #269bff;
  background-color: #fff;
}
#home .top-slider > .imgs {
  margin-left: 30px;
}
#home .top-slider > .imgs > .view {
  background-color: #fff;
  border: solid 1px #e7e7e7;
  overflow: hidden;
}
#home .top-slider > .imgs > .view > .item:not(.active) {
  display: none;
}
#home .main-picture-powerbank,
#home .main-picture-odziezreklamowa {
  position: relative;
}
#home .main-picture-powerbank > .over,
#home .main-picture-odziezreklamowa > .over {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

#single > .popup {
  position: fixed;
  padding: 0;
  margin: 0;
  width: initial;
  max-width: initial;
  height: initial;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: none;
          transform: none;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  z-index: 110;
}
#single > .popup:not(.open) {
  display: none;
}
#single > .popup > .box {
  max-height: 90%;
}
#single > .popup > .box > .header {
  margin-bottom: 10px;
  height: 60px;
}
#single > .popup > .box > .header > .title {
  padding: 0 20px;
  margin-right: 10px;
  font-size: 20px;
  color: #fff;
}
#single > .popup > .box > .header > .close {
  width: 60px;
  background-color: #2a96f8;
  opacity: 1;
  color: #fff;
}
#single > .popup > .box > .header > .close > .icon {
  cursor: inherit;
}
#single > .popup > .box > .loader {
  margin: 50px 0;
  height: 60px;
}
#single > .popup > .box > .loader > .box {
  width: 60px;
  background-color: #fff;
}
#single > .popup > .box > .loader > .box > .icon {
  font-size: 40px;
}
#single > .popup > .box > .img {
  padding: 10px;
  background-color: #fff;
  overflow: hidden;
}
#single > .popup > .box > .img > img {
  max-width: 250px;
}
@media (min-width: 768px) {
  #single > .popup > .box > .img > img {
    max-width: 600px;
  }
}
#single > .popup.ready > .box > .loader {
  display: none;
}
#single > .popup:not(.ready) > .box > .img {
  display: none;
}
#single #grid > .mid > .head {
  margin: 0 -6px 30px;
}
#single #grid > .mid > .head > .pic {
  padding: 0 6px;
}
#single #grid > .mid > .head > .pic > .large {
  position: relative;
  padding: 5px;
  height: 320px;
  background-clip: content-box;
  background-origin: content-box;
  border: solid 1px #e7e7e7;
}
#single #grid > .mid > .head > .pic > .large > .icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 20px;
  text-shadow: 0 0 3px #fff;
  cursor: inherit;
}
#single #grid > .mid > .head > .pic > .mini {
  position: relative;
  border: solid 1px #e7e7e7;
}
#single #grid > .mid > .head > .pic > .mini > .nav {
  width: 20px;
  font-size: 30px;
  color: #fff;
  background-color: #269bff;
}
#single #grid > .mid > .head > .pic > .mini > .nav .icon {
  cursor: inherit;
}
#single #grid > .mid > .head > .pic > .mini > .view {
  overflow: hidden;
}
#single #grid > .mid > .head > .pic > .mini > .view > .item {
  padding: 5px;
  height: 100px;
  background-clip: content-box;
  background-origin: content-box;
}
#single #grid > .mid > .head > .pic > .download {
  margin-top: 12px;
}
#single #grid > .mid > .head > .pic > .download > a {
  padding: 0 30px;
  height: 40px;
  border: solid 1px #e7e7e7;
}
#single #grid > .mid > .head > .pic > .download > a > .bold {
  margin-left: 10px;
  cursor: inherit;
}
#single #grid > .mid > .head > .info {
  padding: 0 10px;
}
#single #grid > .mid > .head > .info > .title {
  font-size: 22px;
  line-height: 40px;
  color: #2a96f8;
}
#single #grid > .mid > .head > .info > .instock {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 22px;
}
#single #grid > .mid > .head > .info > .instock > span {
  border: none;
  font-size: 20px;
}
#single #grid > .mid > .head > .info > .instock > span.uknown {
  color: gray;
}
#single #grid > .mid > .head > .info > .instock > span.empty {
  color: black;
}
#single #grid > .mid > .head > .info > .instock > span.bad {
  color: red;
}
#single #grid > .mid > .head > .info > .instock > span.poor {
  color: orange;
}
#single #grid > .mid > .head > .info > .instock > span.medium {
  color: yellowgreen;
}
#single #grid > .mid > .head > .info > .instock > span.ok {
  color: green;
}
#single #grid > .mid > .head > .info > .code {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 22px;
}
#single #grid > .mid > .head > .info > .content {
  margin-bottom: 20px;
  font-size: 16px;
}
#single #grid > .mid > .head > .info > .price {
  height: 67px;
  padding-left: 17px;
  border-left: solid 5px #2a96f8;
  font-size: 22px;
}
#single #grid > .mid > .head > .info > .price > .netto {
  font-size: 18px;
}
#single #grid > .mid > .body > .table {
  margin-top: 50px;
}
#single #grid > .mid > .body > .table > .thead {
  height: 44px;
  padding: 0 20px;
  background-color: #2a96f8;
  border: 1px #e7e7e7;
  border-style: solid solid none solid;
  font-size: 16px;
  color: #fff;
}
#single #grid > .mid > .body > .table > .tbody > .tcell {
  min-height: 36px;
}
#single #grid > .mid > .body > .table > .tbody > .tcell > .name {
  padding-left: 20px;
  font-size: 14px;
  border: solid 1px #e7e7e7;
}
#single #grid > .mid > .body > .table > .tbody > .tcell > .value {
  padding: 5px 5px 5px 20px;
  border: solid 1px #e7e7e7;
  font-size: 14px;
  line-height: 24px;
}
#single #grid > .mid > .body > .table.specyfikacja > .tbody > .tcell:nth-child(4n+3), #single #grid > .mid > .body > .table.specyfikacja > .tbody > .tcell:nth-child(4n+4) {
  background-color: #f7f7f7;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell {
  padding: 0 20px;
  border: solid 1px #e7e7e7;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.dane {
  padding: 10px 20px;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.dane > .line {
  margin: 3px 0;
  min-height: 36px;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.dane > .line > .value {
  padding: 0 20px;
  margin-left: 20px;
  border: solid 1px #e7e7e7;
  background-color: #f7f7f7;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.dane > .line.button {
  margin-top: 16px;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.dane > .line.button > .status {
  padding-left: 20px;
  border: none;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.dane > .line.button > .status > .text {
  padding: 0 10px 0 20px;
  font-size: 16px;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.dane > .line.button > .status > .icon {
  border: none;
  font-size: 40px;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.dane > .line.button > .status > .icon.ok {
  color: green;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.dane > .line.button > .status > .icon.fail {
  color: red;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.dane > .line.button > .status > .icon.info {
  color: darkblue;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.dane > .line.button > .status:not(.ok) > .icon.ok {
  display: none;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.dane > .line.button > .status:not(.fail) > .icon.fail {
  display: none;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.dane > .line.button > .status:not(.info) > .icon.info {
  display: none;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.dane > .line.button > .status:not(.wait) > .icon.wait {
  display: none;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.dane > .line.button > .calc {
  height: 44px;
  padding: 0 15px;
  border: solid 1px #e7e7e7;
  background-color: #6a6a6a;
  font-size: 14px;
  color: #fff;
  -webkit-transition: background;
  transition: background;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.dane > .line.button > .calc.active {
  background-color: #0af;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.wynik {
  padding: 0;
  border: 0;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.wynik > .title {
  padding: 0 20px;
  min-height: 32px;
  background-color: #6a6a6a;
  font-size: 16px;
  color: #fff;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.wynik > .partial {
  min-height: 42px;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.wynik > .partial > .field {
  padding: 0 20px;
  font-size: 14px;
  border: solid 1px #e7e7e7;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.wynik > .partial > .field.name {
  background-color: #f7f7f7;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.wynik > .partial > .field.formula::after, #single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.wynik > .partial > .field.sum::after {
  content: ' zł';
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.wynik > .total {
  border: none;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.wynik > .total > .field {
  min-height: 42px;
  font-size: 20px;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.wynik > .total > .field.sum {
  padding: 10px 0;
  border: solid 1px #e7e7e7;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.wynik > .total > .field.sum > span {
  padding: 0 10px;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.wynik > .total > .field.sum > span::after {
  content: ' zł*';
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.wynik > .total > .field.sum > .info {
  margin-top: 10px;
  padding-left: 20px;
  font-size: 12px;
}
#single #grid > .mid > .body > .table.kalkulator > .tbody > .tcell.wynik > .cart > div {
  margin-top: 13px;
  height: 44px;
  padding: 0 15px;
  border: solid 1px #e7e7e7;
  background-color: #0af;
  font-size: 14px;
  color: #fff;
}

.navbar .basket, .navbar .basket:focus, .navbar .basket:hover {
  color: #fff;
  outline: none;
}

#cart #grid > .mid > .table > .title {
  padding: 0 20px;
  height: 44px;
  background-color: #0af;
  font-size: 16px;
  color: #fff;
}
#cart #grid > .mid > .table > .thead {
  background-color: #e7e7e7;
  font-size: 16px;
}
#cart #grid > .mid > .table > .thead > div {
  padding: 0 20px;
  height: 44px;
}
#cart #grid > .mid > .table > .tbody > .line > .field {
  padding: 0 20px;
  min-height: 40px;
}
#cart #grid > .mid > .table > .tbody > .line > .field.options > label {
  width: 20px;
  height: 20px;
  border: solid 2px #0af;
  border-radius: 5px;
}
#cart #grid > .mid > .table > .tbody > .line > .field.options > label > .icon {
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}
#cart #grid > .mid > .table > .tbody > .line > .field.options > input:checked + label > .icon {
  opacity: 1;
}
#cart #grid > .mid > .table > .tbody > .line.options {
  padding: 0 20px;
  height: 40px;
  background-color: #e7e7e7;
}
#cart #grid > .mid > .table > .tbody > .line.options > .buttons > .icon {
  font-size: 20px;
}
#cart #grid > .mid > .table > .tbody > .line:nth-child(even) {
  background-color: #f7f7f7;
}
#cart #grid > .mid > .table > .table {
  margin-top: 50px;
}
#cart #grid > .mid > .table > .table > .thead {
  padding: 0 20px;
  height: 44px;
  color: #fff;
  background-color: #0af;
  font-size: 16px;
}
#cart #grid > .mid > .table > .table > .tbody > .field > .input {
  min-height: 44px;
  padding: 0 20px;
  border: solid 1px #e7e7e7;
  resize: none;
  font-size: 14px;
  -webkit-transition: border .3s linear;
  transition: border .3s linear;
}
#cart #grid > .mid > .table > .table > .tbody > .field > .input .title {
  font: inherit;
}
#cart #grid > .mid > .table > .table > .tbody > .field > .input::placholder {
  font: inherit;
}
#cart #grid > .mid > .table > .table > .tbody > .field > .input.err {
  border-color: red;
}
#cart #grid > .mid > .table > .table > .tbody > .field > textarea.input {
  padding: 10px 20px;
  height: 200px;
  line-height: 30px;
}
#cart #grid > .mid > .table > .table > .tbottom {
  padding: 20px 0;
}
#cart #grid > .mid > .table > .table > .tbottom > .status {
  border: none;
}
#cart #grid > .mid > .table > .table > .tbottom > .status > .icon > div {
  margin: 0 10px;
  font-size: 30px;
  border: none;
}
#cart #grid > .mid > .table > .table > .tbottom > .status > .icon > div.ok {
  color: green;
}
#cart #grid > .mid > .table > .table > .tbottom > .status > .icon > div.fail {
  color: red;
}
#cart #grid > .mid > .table > .table > .tbottom > .status > .icon > div.info {
  color: blue;
}
#cart #grid > .mid > .table > .table > .tbottom > .status > .text {
  padding: 0 10px;
  font-size: 16px;
}
#cart #grid > .mid > .table > .table > .tbottom > .status > .load {
  padding: 0 20px;
  height: 40px;
}
#cart #grid > .mid > .table > .table > .tbottom > .status > .load > .progres {
  min-width: 50px;
}
#cart #grid > .mid > .table > .table > .tbottom > .status > .load > .progres::after {
  content: ' %';
}
#cart #grid > .mid > .table > .table > .tbottom > .status > .load > .bar {
  margin: 0 10px;
  height: 4px;
  background-color: #000;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
#cart #grid > .mid > .table > .table > .tbottom > .status:not(.ok) > .icon > .ok {
  display: none;
}
#cart #grid > .mid > .table > .table > .tbottom > .status:not(.fail) > .icon > .fail {
  display: none;
}
#cart #grid > .mid > .table > .table > .tbottom > .status:not(.info) > .icon > .info {
  display: none;
}
#cart #grid > .mid > .table > .table > .tbottom > .status:not(.wait) > .icon > .wait {
  display: none;
}
#cart #grid > .mid > .table > .table > .tbottom > .button {
  height: 40px;
  padding: 0 20px;
  background-color: #0af;
  color: #fff;
  font-size: 16px;
  border: solid 1px #e7e7e7;
}

#top {
  height: 90px;
}
#top > .logo {
  margin: 0 15px;
}
#top > .searchbar {
  margin: 0 15px;
  height: 45px;
  font-size: 14px;
}
#top > .searchbar > .input {
  width: 250px;
  padding: 0 20px;
  border: solid 1px #e7e7e7;
}
#top > .searchbar > .input::-webkit-input-placeholder {
  color: inherit;
}
#top > .searchbar > .input:-ms-input-placeholder {
  color: inherit;
}
#top > .searchbar > .input::placeholder {
  color: inherit;
}
#top > .searchbar > .button {
  width: 45px;
  border: solid 1px #e7e7e7;
  background-color: #fff;
  -webkit-transition-property: background, font;
  transition-property: background, font;
}
#top > .searchbar > .button:hover {
  background-color: #0af;
  color: #fff;
}
